a1:/opt/c3lingo/bin/c3lingo-stream.sh 239.1.153.115 0 "Hall A Channel 1" translation_a1
a2:/opt/c3lingo/bin/c3lingo-stream.sh 239.1.153.115 1 "Hall A Channel 2" translation_a2
b1:/opt/c3lingo/bin/c3lingo-stream.sh 239.2.179.75  0 "Hall B Channel 1" translation_b1
b2:/opt/c3lingo/bin/c3lingo-stream.sh 239.2.179.75  1 "Hall B Channel 2" translation_b2
c1:/opt/c3lingo/bin/c3lingo-stream.sh 239.3.92.12   0 "Hall C Channel 1" translation_c1
c2:/opt/c3lingo/bin/c3lingo-stream.sh 239.3.92.12   1 "Hall C Channel 2" translation_c2
d1:/opt/c3lingo/bin/c3lingo-stream.sh 239.4.139.148 0 "Hall D Channel 1" translation_d1
d2:/opt/c3lingo/bin/c3lingo-stream.sh 239.4.139.148 1 "Hall D Channel 2" translation_d2
e1:/opt/c3lingo/bin/c3lingo-stream.sh 239.5.133.22  0 "Hall E Channel 1" translation_e1
e2:/opt/c3lingo/bin/c3lingo-stream.sh 239.5.133.22  1 "Hall E Channel 2" translation_e2